.Katas {
  display: flex;
  flex-direction: row;
}

.Katas h1:first-child, .Katas h2:first-child, .Katas h3:first-child {
  margin-top: 0;
}

.Katas--nav, .Katas--viewer {
  padding: 15px;
}

.Katas--nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Katas--nav li > a {
  color: #07C;
  cursor: pointer;
}

.Katas--nav li > a:hover {
  color: #3af;
}

.Katas--nav li.active:before {
  content: '▶';
  position: absolute;
  font-size: 0.75em;
  line-height: 1.75em;
  margin-left: -1em;
}

.Katas--view {
  flex: 1;
}